# IDE
/.idea
/.awcache
/.vscode/*
!/.vscode/launch.json
/.devcontainer
*.code-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# misc
.DS_Store
# Go workspace (local dev overlay for the plug bench)
/go.work
/go.work.sum
